.movie {
  position: relative;
  max-width: 360px;
  overflow: hidden;
}

.movie__image {
  height: 201px;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
}

.movie__button {
  position: absolute;
  top: 14px;
  right: 14px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 0.9;
  border: none;
  cursor: pointer;
}

.movie__button_save {
  width: 72px;
  height: 21px;
  background-color: #f9f9f9;
  border-radius: 30px;
  transition: 0.3s ease-in;
}

.movie__button_save:hover {
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 1);
}

.movie__button_saved {
  width: 21px;
  height: 21px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: transparent no-repeat url(../../images/movies/savebtn.svg) 50%;
  border-radius: 50%;
  transition: 0.3s ease-in;
}

.movie__button_delete {
  width: 21px;
  height: 21px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: transparent no-repeat url(../../images/movies/deletebtn.svg) 50%;
  border-radius: 50%;
  transition: 0.3s ease-in;
}

.movie__button_delete:hover {
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 1);
}

.movie__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 9px 14px 0;
}

.movie__name {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.21;
}

.movie__duration {
  margin: 0;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 0.9;
  color: #a0a0a0;
  background-color: #f9f9f9;
  border-radius: 3px;
}
