.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 410px;
  margin: auto;
  padding: 70px 0;
}

.profile__title {
  margin: 0 0 105px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  padding-bottom: 16px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.21;
  border-bottom: 1px solid #e8e8e8;
}

.profile__label:last-of-type {
  border-bottom: none;
}

.profile__input {
  max-width: 200px;
  width: 100%;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  text-align: right;
  color: #000000;
  border: none;
}

.profile__input::placeholder {
  color: #000000;
}

.profile__input:focus {
  outline: none;
}

.profile__btn {
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.profile__btn:hover {
  opacity: 0.3;
}

.profile__btn_edit {
  margin: 203px auto 16px;
}

.profile__btn_logout {
  margin: 0 auto;
  font-weight: 500;
  color: #ff4062;
}

@media screen and (max-width: 800px) {
  .profile {
    padding: 231px 0 269px;
  }

  .profile__title {
    margin-bottom: 78px;
  }

  .profile__btn_edit {
    margin-top: 194px;
  }
}

@media screen and (max-width: 567px) {
  .profile {
    max-width: 260px;
    margin: 0 auto;
    padding: 65px 0;
  }

  .profile__title {
    margin-bottom: 63px;
    align-self: stretch;
  }

  .profile__btn_edit {
    margin-top: 361px;
  }
}
