.portfolio {
  padding: 35px 70px 0;
}

.portfolio__title {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  color: #a0a0a0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 29px 0;
  list-style: none;
}

.portfolio__item {
  border-bottom: 1px #e8e8e8 solid;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0 20px;
  text-decoration: none;
  color: #000000;
  transition: 0.3s ease-in;
}

.portfolio__link-text {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.04em;
}

.portfolio__icon {
  margin: 0;
  padding-top: 11px;
  font-size: 30px;
}

.portfolio__item:last-child {
  border-bottom: none;
}

.portfolio__link:hover {
  opacity: 0.3;
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding: 25px 50px 0;
  }

  .portfolio__link {
    padding-bottom: 23px;
  }

  .portfolio__link-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 567px) {
  .portfolio {
    padding: 9px 14px 0;
  }

  .portfolio__title {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
  }

  .portfolio__list {
    padding: 20px 0;
  }

  .portfolio__link {
    padding-bottom: 19px;
  }

  .portfolio__link-text {
    font-size: 18px;
    line-height: 1.5;
  }

  .portfolio__icon {
    padding-top: 0;
    font-size: 18px;
  }
}
