.search {
  padding: 65px 70px 0;
}

.search__form {
  display: flex;
  flex-direction: column;
}

.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px #e8e8e8 solid;
}

.search__icon {
  padding-left: 6px;
  width: 34px;
  height: 34px;
}

.search__input {
  width: 90%;
  padding: 0;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  border: none;
}

.search__input::placeholder {
  font-family: "Inter";
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  color: #a0a0a0;
}

.search__input:focus {
  outline: none;
}

.search__button {
  margin: 0;
  padding: 0;
  background: no-repeat transparent url(../../images/searchMovies/find.svg);
  min-width: 34px;
  height: 34px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.search__button:hover {
  opacity: 0.6;
}
